<section class="design-section pb-3" id="design">

  <div class="container pt-3">
    <div class="mx-auto text-center mb-3">
      <h1 class="mx-auto my-0 text-white"><u><%= t(:design) %></u></h1>
    </div>

    <div class="row justify-content-between mb-4 mb-lg-5">
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-justify">
          <p class="text-white-50 mb-0"><%= t(:body_made_of).html_safe %></p>
        </div>
      </div>

      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-justify" style="height: 100%">
          <p class="text-white-50 mb-0"><%= t(:batteries).html_safe %></p>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-lg-5">
        <%= image_tag 'eva/5.1adopted.png', class: 'img-fluid' %>
      </div>
      <div style="width: 2px; background-color: #5a5a5a;" class="d-none d-lg-block"></div>
      <div class="col-12 col-lg-5">
        <%= image_tag 'eva/10.1adopted.jpg', class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <div class="container pb-5">
    <div style="height: 2px; background-color: #5a5a5a;"></div>
  </div>

  <div class="container pt-3">
    <div class="row justify-content-center mb-4 mb-lg-5">
      <div class="col-12 col-lg-6">
        <div class="featured-text text-justify">
          <p class="text-white-50 mb-0"><%= t(:sizes).html_safe %></p>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-lg-5">
        <%= image_tag 'eva/tg_adopted.png', class: 'img-fluid' %>
      </div>
      <div class="d-none d-lg-flex align-items-center">
        <span style="color: #939393">
          <i class="far fa-arrow-alt-circle-right fa-3x"></i>
        </span>
      </div>
      <div class="d-flex d-lg-none d-lg-none align-items-center">
        <span style="color: #939393">
          <i class="far fa-arrow-alt-circle-down fa-3x"></i>
        </span>
      </div>
      <div class="col-12 col-lg-5">
        <%= image_tag 'eva/31.jpg', class: 'img-fluid' %>
      </div>
    </div>
  </div>

  <h2 id="inside" class="text-white-50 text-center mx-auto pt-5 pb-5"><%= t(:inside) %></h2>

  <div class="container">
    <div class="row align-items-center mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><%= image_tag 'eva/inside_components.png', class: 'img-fluid mb-3 mb-lg-0' %></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-justify">
          <p class="text-white-50 mb-0"><%= t(:inside_components).html_safe %></p>
        </div>
      </div>
    </div>
  </div>

  <h2 id="sizes" class="text-white-50 text-center mx-auto pt-5 pb-5"><%= t(:specification_title) %></h2>

  <div class="container pb-5">
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><%= image_tag 'eva/sizes1.png', class: 'img-fluid' %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50"><%= t(:sizes_inside).html_safe %></p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6"><%= image_tag 'eva/sizes_rear_edited.png', class: 'img-fluid' %></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0 text-white-50"><%= t(:sizes_rear).html_safe %></p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><%= image_tag 'eva/sizes_side.png', class: 'img-fluid' %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50"><%= t(:sizes_side).html_safe %></p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6" style="background-color: #7C7A7B">
        <div class="d-flex align-items-center justify-content-center h-100">
          <span style="color: #D8D5CC"><i class="fas fa-dollar-sign fa-7x"></i></span>
        </div>
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0 text-white-50"><%= t(:price).html_safe %></p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6" style="background-color: #7C7A7B">
        <div class="d-flex align-items-center justify-content-center h-100">
          <span style="color: #D8D5CC"><i class="fas fa-weight-hanging fa-7x"></i></span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50"><%= t(:weight).html_safe %></p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>