<section class="differences-section bg-light" id="differences">
  <h1 class="mx-auto my-0 text-center pb-5 pt-5"><u><%= t(:differences) %></u></h1>
  <h2 class="text-black-50 text-center mx-auto mt-2 mb-5"><%= t(:disadvantages) %></h2>

  <div class="container">
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><%= image_tag 'eva/loedige-industries-delivered-25-t-lifting-tilting-table-bmw-ag-38592-9925499.jpg', class: 'img-fluid' %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50"><%= t(:printing_forms_complexity) %></p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6"><%= image_tag 'eva/P90330611_highRes_fixation-of-the-rear.jpg', class: 'img-fluid' %></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0 text-white-50"><%= t(:assembling_complexity) %></p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6"><%= image_tag 'eva/2017-BMW-5er-G30-Produktion-Werk-Dingolfing-14-750x500.jpg', class: 'img-fluid' %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50"><%= t(:body_protection) %></p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-black-50 text-center mx-auto pt-5 pb-5"><%= t(:our_solution) %></h2>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><%= image_tag 'eva/35725_2012_99_Fig1_HTML.png', class: 'img-fluid mb-3 mb-lg-0' %></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-justify">
          <h4><%= t(:no_monocoque) %></h4>
          <p class="text-black-50 mb-0"><%= t(:frame_space).html_safe %></p>
        </div>
      </div>
    </div>
    <div class="row align-items-center no-gutters pb-4 pb-lg-5">
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text-reversed text-justify">
          <h4 class="text-lg-right"><%= t(:research) %></h4>
          <p class="text-black-50 mb-0"><%= t(:frame_space_research).html_safe %></p>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7"><%= image_tag 'eva/space-frame-adopted.jpg', class: 'img-fluid mb-3 mb-lg-0' %></div>
    </div>
  </div>

</section>